:root {
  --secondary-font-family: "Abril Fatface", cursive;
  --primary-font-family: "Poppins", sans-serif;
  --primary-color: #ffca2c;
  --secondary-color: #f3f3f3;
}

body {
  font-family: var(--primary-font-family);
}

h1,
h3,
h4,
h5 {
  font-family: var(--secondary-font-family);
}

h2 {
  color: #272142;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

button {
  padding: 18px 46px;
}

.logo {
  width: 33px;
  height: 33px;
  display: block;
  overflow: visible;
  border: 4px solid #000;
  position: relative;
  transform: rotate(0deg);
  transition: all 1.2s ease-in-out;
  flex-shrink: 0;
}

.logo:hover {
  transform: rotate(1080deg);
}
.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.2s ease-in-out;
  font-weight: 500;
  font-size: 13px;
  color: #000;
}

.about-hero {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-hero h1 {
  font-size: 64px;
}

.about-hero h2 {
  font-size: 18px;
  font-weight: bold;
}

.hero {
  text-align: center;
  background-color: #f3f3f3;
  padding: 90px 0;
}

.hero h1 {
  font-size: 110px;
  font-weight: 400;
}

.hero p {
  font-weight: bold;
  line-height: 54px;
  font-size: 36px;
}

.hero button {
  padding: 18px 46px;
  font-size: 18px;
}

.work-section h2 {
  font-size: 18px;
  padding: 70px;
}

.work-section h3 {
  font-size: 64px;
  line-height: 85px;
}

.work-section p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}

.btn-border-warning {
  color: black;
  border: 2px solid var(--primary-color);
}

.work-section button {
  font-size: 16px;
  padding: 18px 25px;
}

@media (max-width: 900px) {
  .hero {
    padding: 20px 0;
    font-size: 68px;
  }
  .hero h1 {
    font-size: 68px;
  }
  .hero h2 {
    margin-bottom: 0 !important;
    font-size: 18px;
    line-height: 25px;
  }
  .work-section h3 {
    font-size: 58px;
    margin-top: 0 !important;
  }
  .footer #email {
    margin: 0 !important;
  }
}
